$dark-grey: #212529;
$sea-blue: #397283;

.dark-grey{
  color: $dark-grey;
}

.sea-blue{
  color: $sea-blue;
}

.bg-dark-grey{
  background-color: $dark-grey;
}

.bg-sea-blue{
  background-color: $sea-blue;
}